__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

project_env/
env/
venv/
*.egg-info/
*.so

model/**/*.ckpt
model/**/*.pt
model/**/*.pth
model/**/checkpoints/
model/**/weights/
model/sae_final_models/*
!model/sae_final_models/.gitkeep

training_logs/
training_logs/sae/
training_logs/sae_ort/
training_logs/cbm/
**/logs/
**/*.log
**/tb_logs/
**/events.out.tfevents.*

pipeline/03_name_concepts/concept_names/
data/concept_names/
!pipeline/03_name_concepts/concept_names/.gitkeep
!data/concept_names/.gitkeep

data/embeddings/
data/sae_embeddings/
data/vocab/embeddings_*.pth
!data/vocab/.gitkeep
!data/vocab/*.txt

pipeline/**/decoder_max_pairwise_cosine_hist.png

data/datasets/
data/cifar-10-python.tar.gz
data/*.tar.gz
data/**/*.parquet
data/**/*.tar
data/**/*.json
data/**/*.tsv
!data/datasets/**/.gitkeep

*.csv
!data/vocab/*.csv

*.zip
*.npz
*.npy
*.pickle
*.pkl

*.ipynb_checkpoints
*.nbconvert.ipynb
*/.ipynb_checkpoints/*

check_weights.ipynb
vocab_dot_product_matrix.pth
